$numColumns: 7;
$cell-empty: #eeeeee;
$cell-empty-hover: #dddddd;
$cell-player-red: #801515;
$cell-player-blue: #231858;

.piece {
	border: none;
  background: #dddddd;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.piece-color-red {
	background-color: $cell-player-red;
}

.piece-color-blue {
	background-color: $cell-player-blue;
}

.columns {
	float: left;
	width: 100% / $numColumns;
}

.connect-container {
	width: 976px
}


.piece-hover {
	background-color: $cell-empty-hover;
}
